.comment {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.comment img {
  width: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.delete {
  margin-left: auto;
  padding: 0;
  border: none;
  background: none;
  color: var(--text);
  cursor: pointer;
}

.delete:hover {
  opacity: 0.7;
}
