.avatar {
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.fallback {
  display: grid;
  place-items: center;
  background-color: var(--gray-input);
  color: var(--gray);
}

.fallback svg {
  width: 60%;
  height: 60%;
}

.small {
  width: 3rem;
}

.large {
  width: 15rem;
}
